.detailsTitles {
  /* width: 220px; */
  display: flex;
  flex-direction: row;
}

.detailsTitlesContainer {
  width: 100%;
  display: flex;
  position: relative;
  flex-direction: row;
  /* background: #006bd5; */
  justify-content: space-between;
}

.btnDetails {
  /* width: 120px; */
  padding: 2px;
  padding-left: 7px;
  padding-right: 7px;
  margin-right: 5px;
  text-align: center;
  border-radius: 5px;
  padding-bottom: 4px;
  background-color: #fff;
  box-shadow: 2px 1px 1px 0px darkgrey;
}

.detailLogoContainerx {
  top: 0;
  right: 15px;
  position: absolute;
  visibility: hidden;
  background: aliceblue;
}

.detailLogo {
  width: 127px;
  margin: auto;
}

.btnCustom {
  padding: 5px;
  width: 100px;
  font-size: 12px;
  font-weight: 600;
  margin-right: 12px;
  text-align: center;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0px 0px 4px -1px darkgrey;
}

.btnCertifications{
  width: 220px;
}

.btnCustom:hover {
  cursor: pointer;
}

.btnDetails:hover {
  cursor: pointer;
}

.projectDetails {
  height: 72vh;
  overflow: auto;
  margin-top: 12px;
  /* margin-bottom: 225px; */
  padding: 0px 22px 22px 0px;
}

h5 {
  margin: 8px;
  color: #006bd5;
  letter-spacing: 0.7px;
}

p {
  letter-spacing: 1;
  line-height: 1.4;
}

u:hover {
  cursor: pointer;
}

.technoGrid {
  display: flex;
  margin-left: 9px;
  justify-content: flex-start;
  /* display: grid;
  grid-row-gap: 2px;
  grid-column-gap: 35px;
  grid-template-columns: repeat(8, calc(8% - 0.5rem)); */
}

.functionnalityCard {
  width: 140px;
  padding: 7px;
  display: flex;
  color: #fff;
  cursor: default;
  margin-right: 8px;
  border-radius: 5px;
  justify-content: center;
  box-shadow: 0px 0px 4px -2px black;
}

.screenShootMobile {
  display: grid;
  margin-left: 1px;
  grid-row-gap: 35px;
  grid-column-gap: 35px;
  grid-template-columns: repeat(4, calc(20% - 0.5em));
}

.screenShootWeb{
  width: 700px;
  padding: 15px;
  display: flex;
  flex-direction: column;
}

.greenBg {
  background-color: #257f34;
}

.blueBg {
  background-color: darkblue;
}

.purpleBg {
  background-color: #6019a8;
}

.detailLogoContainer {
  padding: 9px;
  /* right: 327px;
  position: fixed; */
  background: aliceblue;
}

.info {
  padding: 12px;
  background: white;
}

.columnMdp {
  padding-left: 15px;
}

.columnTitle {
  font-weight: 600;
}
