.containerProjectTitle {
  display: flex;
  padding-left: 25px;
  align-items: baseline;
  color: #29293e !important;
}
.containerProject {
  display: flex;
  padding-left: 8px;
  margin-top: -38px;
  flex-direction: column;
}

/* .logo {
  width: 154px;
  height: 154px; 
} */

a {
  text-decoration: none;
  color: #29293e !important;
}

.title {
  color: purple;
}

.projectCard {
  display: flex;
  flex-wrap: wrap;
  margin: 0px 27px;
  flex-direction: row;
  justify-content: space-between;
  /* grid-row-gap: 2;
   margin-top: 42px; 
   grid-column-gap: 2;
  grid-template-columns: repeat(4, calc(25% - 0.5rem)); */ 
}

.card {
  /* width: 160px; */
  /* height: 170px; */
  /* margin-bottom: 162px; */
  /* margin: auto; */
  width: 100px;
  height: 90px;
  padding: 8px;
  color: #000;
  display: flex;
  cursor: pointer;
  margin-top: 15px;
  border-radius: 10px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  transition: transform 200ms ease-in-out;
  box-shadow: 0px 0px 4px -2px rgb(26, 37, 41);
}

.card:hover {
  transform: scale(0.95);
}

.animate {
  transition: transform 200ms ease-in-out;
}

.animate:hover {
  transform: scale(0.95);
}

.card-link {
  display: flex;
  text-align: center;
  align-items:center;
  flex-direction: column; 
  justify-content:center; 
}
