.spotify-icon {
  width: 170px;
}
.calque {
  background: red;
  width: 100%;
  height: 100%;
}
.passion-logo {
  width: 250px;
}
.logo-gaming {
  margin-left: 145px;
}
.logo-musique {
  margin-left: 193px;
}
.logo-techno {
  margin-left: 195px;
}
.game-icon {
  width: 98px;
}
.pubg-icon {
  width: 109px;
}
.fifa-icon {
  width: 110px;
  margin-left: 8px;
}
.passion-detail {
  opacity: 0;
  height: 367px;
  display: flex;
  color: black;
  flex-direction: column;
  justify-content: space-between;
  transition: color 1s ease, transform 0.5s ease, opacity 1.5s ease;
}
.game-card:hover .passion-detail {
  opacity: 1;
  color: black;
  transform: translateX(55px);
}
.musique-card:hover .passion-detail {
  opacity: 1;
  color: black;
  transform: translateX(65px);
}
.technologie-card:hover .passion-detail {
  opacity: 1;
  color: black;
  transform: translateX(65px);
}
.center-text {
  text-align: center;
}
.footerc {
  color: black;
  text-align: center;
  padding-bottom: 77px;
}
.rounded {
  color: #000;
  width: 250px;
  padding: 28px;
  border-radius: 6px;
  background: aliceblue;
}

.parcour-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
ol > li {
  color: #000;
}
.experience-card-subtitle {
  color: #000;
  font-weight: 500;
}
p {
  color: #000;
  font-size: 20px;
}
.experience-card-title {
  color: #000;
  font-size: 25px;
  font-weight: bold;
}
.experience-card {
  padding: 25px;
  margin: 25px 0px;
  border: 1px solid black;
}
h3 {
  color: black;
  font-size: 38px;
  letter-spacing: 8px;
}
.game-card {
  background: #f37c7c;
}
.musique-card {
  background: aliceblue;
}
.technologie-card {
  background: #66635e;
}
.passion-item {
  display: flex;
  width: 380px;
  color: #000;
  height: 450px;
  font-size: 18px;
  font-weight: 400;
  border-radius: 7px;
  align-items: center;
  justify-content: center;
}
.passion-content {
  display: flex;
  margin-top: 142px;
  flex-direction: row;
  justify-content: space-around;
}
.content-passion {
  padding-bottom: 169px !important;
}
.content {
  padding: 0px 65px 0px;
}
.contentContainer {
  color: #000;
  padding-top: 25px;
  padding-left: 81px;
}

.slide-container {
  width: 100%;
  overflow-x: scroll;
  white-space: nowrap;
}

#slideshow-container {
  width: 100%;
  height: 77%;
  display: flex;
  overflow: auto;
  flex-direction: column;
}

.slide {
  height: auto;
  width: 100%;
  display: flex;
  color: black;
  font-size: 38px;
  align-items: center;
  transition: transform 1s ease-in-out;
}

.slide:nth-child(1) {
  background-color: #2196f3;
}

.slide:nth-child(2) {
  /* background-color: #4caf50; */
  left: 100%;
}

.slide:nth-child(3) {
  /* background-color: #f44336; */
  left: 200%;
}

.slide:nth-child(4) {
  /* background-color: #ff9800; */
  left: 300%;
}

.slide:nth-child(5) {
  /* background-color: #9c27b0; */
  left: 400%;
}

.slide-indicators {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  z-index: 9999;
  position: relative;
}

.slide-indicator {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin: 0 5px;
  background-color: red;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.slide.active {
  left: 0%;
  transition: transform 1s ease-in-out;
}

.slide-indicator.active {
  background-color: grey;
}
