.CvHeaderContainer {
  display: flex;
  padding-left: 81px;
  flex-direction: row;
  padding-bottom: 10px;
}

.photoCv {
  flex: 0 1 160px;
}

.CvContent {
  flex: 1;
  display: flex;
  /* padding-left: 32px; */
  flex-direction: column;
  justify-content: space-between;
}

.CvContent > div > span {
  font-size: 24px;
  font-weight: 400;
  color: rgba(0, 96, 210, 1);
}

.CvContent > div > p {
  width: 90%;
  margin-top: 2px;
  color: #000;
  font-weight: 300;
  margin-right: 42px;
  text-align: justify;
}

.cvMenu {
  color: #000;
  display: flex;
  flex-direction: row;
  margin-bottom: 4px;
}
