.buyer-persona-grid{
    display: grid;
    row-gap: 25px;
    grid-row-gap: 5;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(5, 1fr);
}

.expense-grid{
    display: grid;
    row-gap: 25px;
    grid-row-gap: 5;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(5, 100px);
}

.vatsy-grid {
    display: grid;
    row-gap: 60px;
    grid-row-gap: 5;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(4, 1fr);
}

.portfolio-grid {
    display: grid;
    row-gap: 60px;
    grid-row-gap: 5;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(3, 1fr);
}

.portfolio-grid > img, .vatsy-grid > img {
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.15);
}

.projectDetail-screenshoot {
    gap: 5;
    height: 87vh; 
    padding: 26px;
    display: flex;
    overflow: auto;
    flex-direction: column
}